**/__pycache__
**/models
**/*.env*
**/*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal
**/recording.wav
**/.venv*
**/.pytest_cache
**/workspace
.obsidian/workspace.json
**/.idea
**/*.log
*.sh
non*.txt
prompt
**/alembic.ini
venv/
.coverage
**/*.stackdump
./issues.ps1
src/extensions/**/__init__.py
src/extensions/**/env.py
**/logs
src/**/.cursorrules
**/temp.*
.vscode
.idea
