# Core Web Framework
fastapi
uvicorn
fastapi-mcp

# Data Validation & Serialization
pydantic

ordered_set

# Database & ORM
alembic
aiosqlite
SQLAlchemy

# Asynchronous Operations
broadcaster
greenlet

# GraphQL
strawberry-graphql[fastapi]

# Authentication & Security
bcrypt
cryptography
pyjwt

# HTTP Clients
httpx

# Testing
coverage
faker
pytest
pytest-cov
pytest-asyncio
pytest-dependency
pytest-order
pytest-xdist

# Utilities
colorama
distro
inflect
loguru
networkx
numpy
sendgrid

python-dotenv
resolvelib
semver
stringcase
black
setuptools
tldextract
